pandas
numpy
google-cloud-bigquery
google-auth
functions-framework
db-dtypes
psycopg2-binary
python-dotenv
statsmodels
openpyxl
unidecode
matplotlib
seaborn
geopandas
scikit-learn
tabulate
graphviz
fitz
jupyterlab 
nbconvert 
ipykernel

