pandas
numpy
google-cloud-bigquery
google-auth
functions-framework
db-dtypes
psycopg2-binary
python-dotenv
matplotlib
seaborn
geopandas
pnadc
tensorflow 
scikit-learn
statsmodels
openpyxl
shap
qgrid
pandas-ui 
ipywidgets
dtale
